<div class="container info w-50">
    <section class="section sec">
        <h3>How does it work?</h3>
        <div class="container">
            <div class="row">
                <p>The spreadsheets are compared cell by cell. The result of the comparisson contains the following
                    information:</p>
            </div>
            <ul>
                <li>
                    <p>Cells that only exist in the file on the left.</p>
                </li>
                <li>
                    <p>Cells that only exist in the file on the right.</p>
                </li>
                <li>
                    <p>Cells that only exist in both files, but have different values.</p>
                </li>
            </ul>
        </div>
    </section>
    <br>
    <section class="section">
        <h3>Is it safe?</h3>
        <div class="container">
            <div class="row">
                <p>The most important feature of this tool is that it does not store or hold record of any data. There
                    is no database linked to the website and the server does not log any messages. Not even for error or
                    exception handling.</p>
            </div>
        </div>
    </section>
    <br>
    <section class="section">
        <h3>About and privacy</h3>
        <div class="container">
            <div class="row">
                <p>The tool does not store any data and does not use cookies. All loging is deactivated. The files'
                    contents are sent to the server responsible for comparison over https (encrypted). Before the server
                    responds with the differences, the files' contents are automatically deleted. The files' contents
                    are also deleted if there was an error during comparison.</p>
            </div>
        </div>
    </section>
</div>