<div class="container info w-50">
    <section class="section sec">
        <h3>Contact details</h3>
        <div class="container">
            <div class="row">
                <p>Since the website does not log any information, it is hard for me to track possible issues that might
                    occure. Please feel free to email me at <a
                        href="mailto: name@email.com">steliosapps&#64;gmail.com</a> for any feedback/suggestions, or if
                    you wish to report an issue</p>
            </div>
        </div>
    </section>
    <br>
    <section class="section">
    </section>
    <br>
    <section class="section">
        <h3>Do you wish to support me?</h3>
        <div class="container">
            <div class="row">
                <p>If you enjoyed using this app and wish to support it, feel free to <a href="https://buymeacoffee.com/steliosapps">buy me a coffee &#9749;</a></p>
            </div>
        </div>
    </section>
</div>