@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.test-grid {
    width: 700px;
    height: 1000px;
    flex-grow: 1;
}

.cell-only-in-a{
    background-color: 'cyan'
}