<div class="fileInput" id="fileInputB">
    <label for="input-fileB" id="drop-area" ng-dragover>
        <input type="file" id="input-fileB" (change)="readExcelFile($event)" hidden>
        <div id="img-view">
            <img src="../../assets/508-icon.png">
            <p>Drag and drop first file or click here</p>
            <div class="spinner-border fileB" role="status" *ngIf="file.readFinish==false">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </label>
</div>
<div id="myGridFileA" class="ag-theme-alpine table" hidden></div>