@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';


body,
html {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

.main {
  height: 100%;
}

.content {
  height: 100%;
}

.table {
  height: 100%;
}

.explanation {
  padding: 1%;
  height: auto;
}

.menu{
  height: 15%;
}

.grids{
  height: 80%;
}