@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';


body,
html {
  height: 99%;
  overflow-x: hidden;
overflow-y: auto;
margin: 1%;
}

.main {
  height: 100%;
}

.content {
  height: 100%;
}

.table {
  height: 100%;
}

.inputs {
  margin-top: 1%;
}

.explanation p {
  display: table-cell;
}

.explanation {
  padding: 1%;
}